<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <ul>
                <li><a ui-sref="booklist({bookType:0})" ><img class="img_size" src="img/home.png"></a></li>
                <li><a ui-sref="booklist({bookType:1})" ><img class="img_size" src="img/users.png"></a></li>
                <li><a ui-sref="booklist({bookType:2})" ><img class="img_size" src="img/group.png"></a></li>
                <li><a ui-sref="booklist({bookType:3})" ><img class="img_size" src="img/documents.png"></a></li>
            </ul>
        </div>
         <!-- <accordion close-others="oneAtATime">
            <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                This content is straight in the template.
            </accordion-group>
            <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                {{group.content}}
            </accordion-group>
            <accordion-group heading="Dynamic Body Content">
                <p>The body of the accordion group grows to fit the contents</p>
                <button class="btn btn-default btn-md" ng-click="addItem()">Add Item</button>
                <div ng-repeat="item in items">{{item}}</div>
            </accordion-group>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
        </accordion> -->
    </div>
</div>

