/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

												/*Public*/
html{font-size:62.5%; /* 10÷16=62.5% */} 

.border_c{
	border: 1px solid;
}

.center{
	padding:5px;
	text-align:center;
/*	line-height:50%;
	vertical-align: center; */
}
.box_b {
	/*box-shadow: 0 3px 0 #ccc;*/
	-webkit-box-shadow: 0px 3px 3px #ccc;  
	-moz-box-shadow: 0px 3px 3px #ccc;  
	box-shadow: 0px 3px 3px #ccc;  
}
.bor{
	border: 1px solid #ccc;   /*浅灰色外框*/
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
.bc {     
	background: #f8f8f8;      /*整体背景色---浅灰色*/
}
.white {
	background: #fff;      /*白色*/
}
.clearfix{zoom:1;}
.clearfix:after{ content:"";display:block;clear:both}


  
                                                                          /*指令样式*/


/*表格块样式      -----------------快速链接、设备详情等   */
.gn{
	border: 1px solid #ccc;   /*浅灰色外框*/
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
}
.gn div:nth-child(1){
	padding: 3px 10px;
}
.gn div:nth-child(1) div{
	float: right;
}
.gn div:nth-child(2){
	background: #fff;
	padding:10px;
}

/*table样式  --高度、字体大小等*/

.MyTable{
	width: 100%;
}
.MyTable tr{
	line-height:25px;
	font-size: 12px;
}
.MyTable tr:nth-child(odd){
	background-color: #f8f8f8;
}
.MyTable tr td:nth-child(1){
	width: 25%;
	text-align: right;
}
.MyTable tr td:nth-child(2){
	width: 75%;
	padding-left: 10px;
}




												/*login.html   登录界面*/

*{margin:0; padding:0;}
.login_bg {
	background-image: url(../img/3.jpg);
	background-repeat: round;
	min-height: 600px;
	border: 1px solid #888; /*有错，不加border出现未知错误*/
}
.login_style {
	background-color: #fff;
	width: 400px;
	margin:0 auto;
	margin-top: 150px;
	padding:20px;
	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	-moz-opacity:0.8; /*Firefox私有，透明度50%*/
	opacity:0.8;/*其他，透明度50%*/
	/*background-image: url(../img/1.jpg);background-repeat: round;*/
}
.login_style .center {
	font-size: 20px;
}
/*.lgstyle {
	border:1px solid;
	width: 20px;
	height: 5px;
	filter:alpha(opacity=50); IE滤镜，透明度50%
	-moz-opacity:0.5; /*Firefox私有，透明度50%*/
/*	opacity:0.5;其他，透明度50%

}*/

												/*home公共——user_index.html  Au_index.html*/
/*顶部导航样式*/
.home_nav {
	padding:0;
}
.home_nav_right {
	height: 100%;
}
.home_nav_right div{
	position: absolute;
	right: 15px;
	top: 10px;
	/*border: 1px solid;*/
}
.home_nav_right span{
	font-size: 2.4rem;
}
.home_nav i {
	height: 100%;
	font-size: 20px;
	margin-right: 15px;
}


.app_icon {
	width: 80px;
	background-color: #4F4F77;
}
.app_icon img {
	width: 40px;
	height: 40px;
	
}
/*除导航外整体*/
.home_main {
	margin-top: 20px;
	width: 96%;
	margin-left: 2%;
	min-height: 800px;
	
}





											     /*user_index.html*/





.main_center >div{
	float: left;
}
/*.main_center div{
	float: left;          注意两者之间区别，一个选择 main_center 中的所有div  一个只选择子div  子div中的div 不予考虑
}
*/

                                                   /*quicklinks.html*/
/*快速链接*/
.quicklinks div{
	width: 15%
	height: 100% ;
	float:left !important;
	padding: 5px 15px !important;
	margin-right:2%;
	text-align: center;
}
/*.ff div:after {
	content:"";display:block;clear:both
}*/
.quicklinks div i{
	font-size: 26px;
}


